* {
    color: #fff;
}

body, html {
    background-color: #0a1f44;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

input {
    -webkit-appearance: none;
}
   
button,
input {
    border: none;
    background: none;
    outline: none;
    color: inherit;
}